div {
  max-width: 1200px;
  margin: 50px auto;
}

.count-area {
  display: flex;
  gap: 150px;
}

button {
  width: 80px;
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

ul {
  display: block;
  padding-top: 20px;
}

li {
  list-style: none;
}
