div {
  max-width: 1200px;
  margin: 50px auto;
}

button {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

ul {
  padding-top: 20px;
}

li {
  list-style: none;
}
